
/*Adding style to whole page*/
html
{
	background: url("../images/hero.jpeg")no-repeat center center fixed;
    background-size: cover;
}
/*Adding flex to container */
.container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin: 0;
	justify-content: center;
	align-items: center;
	width: 410px;
	
}
/*Adding style to pwd prompts and button*/
.pwd-h1{

	text-align: left;
	padding-top: 40px;	
	color: white;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

.pwd-button{
	cursor: pointer;
	display: inline-block;
	color: #011F32;
	background-color: white;
	padding: 2px 2px, 0;
	border-radius: 2em;
	text-decoration: none;
	width: 150px;
	text-align: center;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: bolder;
	height: 30px;
	transition: all 0.2s;
}

.pwd-button:hover{
	background-color: #37A7E4;
	color: lightcyan;
	
}
.secure-h1{
	width: 40px;
}